
{% extends "base/body.html" %}
{% load crispy_forms_tags %}

{% block titulo %} Recuperar Cuenta{% endblock titulo %}

{% block contenido %}
<br>
<center><h2>Revisa tu correo electronico </h2></center>
<br>

<div class="container mt-4">

    <div class="card">

        <div class="card-body">
            <p>Le hemos enviado por correo electronico las instrucciones para configurar su
                nueva contraseña
            </p>
            <a href="{% url 'publicacion:inicio'  %}" class="btn btn-secondary btn-custom">
                <i class="fas fa-arrow-left"></i> Volver
            </a>
        </div>
    </div>
</div>

{% endblock contenido %}