
{% extends "base/body.html" %}
{% load crispy_forms_tags %}

{% block titulo %} Recuperar Cuenta{% endblock titulo %}

{% block contenido %}
<br>
<center><h2>Restablecimiento Exitoso </h2></center>
<br>

<div class="container mt-4">

    <div class="card">

        <div class="card-body">
            <p>Ahora puedes iniciar sesion con tu nueva contraseña
            </p>
            <a href="{% url 'login'  %}" class="btn btn-secondary btn-custom">
                <i  ></i> Inicia Sesion
            </a>
        </div>
    </div>
</div>

{% endblock contenido %}